<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Laboratorio03"
        tools:targetApi="31">
        <activity
            android:name=".diseno_4_boda"
            android:exported="false" />
        <activity
            android:name=".diseno_3_boda"
            android:exported="false" />
        <activity
            android:name=".diseno_2_boda"
            android:exported="false" />
        <activity
            android:name=".diseno_1_boda"
            android:exported="false" />
        <activity
            android:name=".diseno_4_valentin"
            android:exported="false" />
        <activity
            android:name=".diseno_3_valentin"
            android:exported="false" />
        <activity
            android:name=".diseno_2_valentin"
            android:exported="false" />
        <activity
            android:name=".diseno_1_valentin"
            android:exported="false" />
        <activity
            android:name=".diseno_4_padre"
            android:exported="false" />
        <activity
            android:name=".diseno_3_padre"
            android:exported="false" />
        <activity
            android:name=".diseno_2_padre"
            android:exported="false" />
        <activity
            android:name=".diseno_1_padre"
            android:exported="false" />
        <activity
            android:name=".diseno_4_madre"
            android:exported="false" />
        <activity
            android:name=".diseno_3_madre"
            android:exported="false" />
        <activity
            android:name=".diseno_2_madre"
            android:exported="false" />
        <activity
            android:name=".diseno_1_madre"
            android:exported="false" />
        <activity
            android:name=".diseno_4_cumple"
            android:exported="false" />
        <activity
            android:name=".diseno_3_cumple"
            android:exported="false" />
        <activity
            android:name=".diseno_2_cumple"
            android:exported="false" />
        <activity
            android:name=".diseno_1_cumple"
            android:exported="false" />
        <activity
            android:name=".diseno1cumple"
            android:exported="false"
            android:label="@string/title_activity_diseno1cumple"
            android:theme="@style/Theme.Laboratorio03" />
        <activity
            android:name=".tarjetasboda"
            android:exported="false" />
        <activity
            android:name=".tarjetasvalentin"
            android:exported="false" />
        <activity
            android:name=".tarjetaspadre"
            android:exported="false" />
        <activity
            android:name=".tarjetasmadre"
            android:exported="false" />
        <activity
            android:name=".tarjetascumple"
            android:exported="false" />
        <activity
            android:name=".menuprincipal"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>